<section class="skills-section">
  <h3 class="page-title white-text raspberry">SKILLS</h3>
  <div class="container">
    <div class="card mb-5">
      <div class="class-content">
        <h4>Front-End</h4>
        <hr>
        <div class="row text-center">
          <div class="col-2">
            <div class="skill-item">
              <i class="fa-brands fa-html5" style="color:#E44D27"></i>
              <span>HTML5</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <i class="fa-brands fa-css3-alt" style="color:#3A9ADB"></i>
              <span>CSS3</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <i class="fa-brands fa-square-js" style="color:#D5BA32"></i>
              <span>JavaScript</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <i class="fa-brands fa-react" style="color:#63D8FA"></i>
              <span>React</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <i class="fa-brands fa-sass" style="color:#CD679A"></i>
              <span>SASS</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <i class="fa-brands fa-bootstrap" style="color:#26103A"></i>
              <span>Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="class-content">
        <h4>Back-End</h4>
        <hr>
        <div class="row text-center">
          <div class="col-2">
            <div class="skill-item">
              <%= image_tag "ruby.png", :class => "skill-icon" %>
              <span>Ruby</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <%= image_tag "rails.png", :class => "skill-icon" %>
              <span>Rails</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <%= image_tag "postgresql.png", :class => "skill-icon" %>
              <span>PostgreSQL</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <%= image_tag "api.png", :class => "skill-icon" %>
              <span>RESTful APIs</span>
            </div>
          </div>
          <div class="col-2">
            <div class="skill-item">
              <%= image_tag "heroku.png", :class => "skill-icon"%>
              <span>Heroku</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
